[workspace]
members = [
  "practice-tool", 
  "lib/libds3",
  "lib/macro-param",
  "lib/param-tinkerer",
  "lib/scripts/memscan",
  "lib/no-logo",
  "lib/param-mod",
  "xtask",
]

[profile.dev]
opt-level = 2
debug = 2

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
